img {
    max-width: 100%;
}

h1{
    font-size: 32px;
}

.btn-lg {
    border-radius: 2px;
    background-color: #009CDF;
}

.jumbotron {
    margin-top: -20px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.navbar {
    background-color: #01344e;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:hover {
    color: #2ac2ff;
    color: #009CDF;
}

.right-nav {
    padding-top: 20px;
}

.right-nav ol {
    margin: 10px 10px 0 40px;
}

.right-nav ol > li {
    padding: 4px 0;
}


.list-group-item {
}

h3 {
margin-top: 30px;
margin-bottom: 20px;
}

li>ul {
    margin-bottom:20px;
}

li>ul>li {
    margin-bottom: 10px;
}

#footer {
    margin-top:50px;
    padding-bottom:20px;
    padding-top: 20px;
    border-top: solid 1px #eee;
}

