{% include bootstrap-header.html %}

<div class="jumbotron">
    <div class="container">
        <div class="row" style="text-align: center">
            <!--<img src="images/jumbotron2.png" style="max-height: 300px;border: none;"/>-->
            <img src="images/salesforce-dev-workshop-jumbo.png" style="max-height: 300px;border: none;"/>
            <p><a class="btn btn-primary btn-lg" style="background-color: transparent;color: #00A1E1;"
                  href="Creating-a-Developer-Edition-Account.html"
                      role="button">Start Now</a></p>
            <!--<div style="margin-top: 30px;margin-left: 30px;">-->
            <!--<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-url="http://ccoenraets.github.io/salesforce-developer-workshop" data-text="Salesforce Developer Workshop: A new fast-track tutorial to #Salesforce development">Tweet</a>-->
            <!--<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>-->
            <!--</div>-->
        </div>
    </div>
</div>
<div
        style="background-color: #f4f4f4;margin-top: -30px;border-bottom: solid 1px #ddd;padding:12px 0 6px 0;margin-bottom:30px;">
    <div class="container">
        <div class="row" style="text-align: center">
            <div style="margin-left: 30px;">
            <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-url="http://ccoenraets.github.io/salesforce-developer-workshop" data-text="Salesforce Developer Workshop: A new fast-track tutorial to #Salesforce development">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {{ content }}
</div>

{% include bootstrap-footer.html %}
