{% include bootstrap-header.html %}

<div class="container">

<div class="row">

    <div class="col-xs-12 col-sm-8">
        <h1>{{ page.title }}</h1>
        <hr/>
        {{ content }}
    </div>

    <div class="col-xs-12 col-sm-4 right-nav">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Modules</div>
            <ol class="list-group">
                <li><a href="Creating-a-Developer-Edition-Account.html">Creating a Developer Edition Account</a></li>
                <li><a href="Creating-the-Data-Model.html">Creating the Data Model</a></li>
                <li><a href="Creating-the-Application.html">Creating the Application</a></li>
                <li><a href="Creating-an-Apex-Class.html">Creating an Apex Class</a></li>
                <li><a href="Accessing-Data-using-SOQL-and-DML.html">Accessing Data using SOQL and DML</a></li>
                <li><a href="Creating-Triggers.html">Creating Triggers</a></li>
                <li><a href="Creating-a-Visualforce-Page.html">Creating a Visualforce Page</a></li>
                <li><a href="Creating-a-Controller-Extension.html">Creating a Controller Extension</a></li>
                <li><a href="Using-JavaScript-in-Visualforce-Pages.html">Using JavaScript in Visualforce Pages</a></li>
                <li><a href="Using-the-Salesforce1-Platform-APIs.html">Using the Salesforce1 Platform APIs</a></li>
                <li><a href="Testing.html">Testing</a></li>
                <li><a href="Batch-and-Schedule.html">Batch and Schedule</a></li>
            </ol>
            &nbsp;
        </div>
<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-url="http://bit.ly/salesforce-workshop" data-text="Salesforce Developer Workshop: self-paced tutorial to learn how to develop on the #Salesforce Platform">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


    </div>

</div>

</div>

{% include bootstrap-footer.html %}
